html {
	background-color:black;
	margin:0px;
	padding:0px;
}

p {
	color:lightgreen;
	padding-top:5px;
}
form {
	color:lightgreen;
	background-color:black;
}
input[type=text] {
	background-color:black;
	color:lightgreen;
	border:none;
	width:80%;
}

#typetext {
	position:absolute;
	bottom:0;
	background-color:black;
	color:lightgreen;
	padding-right:60%
	float:left;
	width:90%;
}
.container {
	background-color:black;
	margin:0px;
	padding:0px;
	width:100%;
}
#textworld {
	border-style:solid;
	border-color:lightgreen;
	height:100%;
	margin-top:5px;
	position:relative;
	color:lightgreen;
}
#flavor {
	height:600px;
}
.trials {
	float:left;
	height:40px;
	width:40px;
	background-color:green;
	border-style:solid;
	margin:2px;
	border-color:lightgreen;
	margin-top:5%;

}
#main {
	background-color:black;
	margin:0px;
	padding:0px;
}
.number {
	margin-top:45px;
	text-decoration:underline;
	font-weight: bold;
	text-align: center;
	color:lightgreen;
}
#gallows {
	height:100%;
	width:100%;
	background-color:black;
	position:relative;
	float:left;
}
#passwordholder {
	width:100%;
	margin:0px;
	background-color:black;
}
#confirm {
	position:absolute;
	bottom:100px;
	background-color:purple;
	color:lightgreen;
}
